# Python cache and compiled files
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
ENV/
env/
venv/

# Git files
.git
.gitignore

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configurations
.vscode/
.idea/
